language: csharp
solution: DocX.sln
install:
  - nuget restore DocX.sln
  - nuget install NUnit.Console -Version 3.4.1 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Debug DocX.sln
  - mono --debug ./testrunner/NUnit.ConsoleRunner.3.4.1/tools/nunit3-console.exe ./UnitTests/bin/Debug/UnitTests.dll